header {
    margin-top: 20px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #004d40;
    color: white;
    text-align: center;
    margin: 0;
}
.banner {
    width: 40%;
    margin-bottom: 20px;
}
.buttons button {
    margin: 10px;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

.buttons button:hover {
    background-color: #033d34;
}
.container {
    margin: auto;
}
.card {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}
.card button {
    margin: 10px;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}
.card button:hover {
    background-color: #033d34;
}
.card input {
    width: 200px;
    padding: 10px;
    border: 1px solid #00796b;
    border-radius: 5px;
    margin: 7px;
}