header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.user-bar {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    cursor: pointer;
}

.user-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    width: 180px;
}

.menu-item {
    background: none;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

#search-bar {
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00796b;
    width: 100px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #004d40;
    color: white;
    text-align: center;
    margin: 0;
}

.banner {
    width: 40%;
    margin-bottom: 20px;
}

.buttons button {
    margin: 10px;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

.buttons button:hover {
    background-color: #033d34;
}

.container {
    margin: auto;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.card button {
    margin: 10px;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

.card button:hover {
    background-color: #033d34;
}

.card input, .card select {
    width: 200px;
    padding: 10px;
    border: 1px solid #00796b;
    border-radius: 5px;
    margin: 7px;
}
